.categoriesSection {
  padding: 4rem 5%;
  max-width: 2440px;
  margin: 0 auto;
}

.header {
  text-align: center;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.badge {
  background-color: var(--color-surface);
  color: var(--color-text-muted);
  padding: 0.35rem 1rem;
  border-radius: 20px;
  font-size: 0.85rem;
  margin-bottom: 1rem;
  border: 1px solid var(--color-border);
  display: flex;
  align-items: center;
}

.title {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.highlight {
  color: var(--color-secondary);
}

.subtitle {
  color: var(--color-text-dark);
  font-size: 1.95rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr; /* Mobile: 1 coluna */
  gap: 1.5rem;
}

.card {
  background-color: var(--color-bg-secondary);
  border-left: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  border-radius: 8px; /* Deixei os cantos levemente menos arredondados para combinar com a borda colorida */
  padding: 2rem;
  min-height: 240px;
  display: flex;
  gap: 1.2rem;
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.iconWrapper {
  width: 48px;
  height: 48px;
  border-radius: 50%; /* Transforma em círculo perfeito */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cardTitle {
  font-size: 2.1rem;
  margin-bottom: 0.5rem;
}

.cardDesc {
  color: var(--color-text-dark);
  font-size: 1.30rem;
  line-height: 1.4;
  margin-bottom: 1.2rem;
}

.cardLink {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  padding: 0;
  margin-top: auto; /* Empurra o botão para o fundo se o texto for curto */
}

/* Responsividade: Tablet */
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
  }
}

/* Responsividade: Desktop (Layout Lado a Lado do Figma) */
@media (min-width: 1024px) {
  .title { font-size: 2.5rem; }
  .grid {
    grid-template-columns: repeat(3, 1fr); /* 3 colunas fixas */
  }
}